doctype html
html(lang='pt-BR')

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Espaço Mahna Yoga e Terapias')
        meta(name='author', content='Ana Paula Todisco')

        title Espaço Mahna - Yoga e Terapias

        link(rel='icon', type='image/x-icon', href='./assets/img/mahna-scs-favicon.png')

        // Font Awesome icons (free version)
        script(src='./js/fa-all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='./css/styles.css', rel='stylesheet')

        // Global site tag (gtag.js) - Google Analytics
        script(async, src="https://www.googletagmanager.com/gtag/js?id=G-64B0XE1Y6M")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-64B0XE1Y6M');

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Espaço Mahna
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/mahna-scs-logo.png', alt='Espaço Mahna - São Caetano do Sul')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Trocar navegação')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#sobre') Sobre
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#horarios') Horários
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#cursos-e-eventos') Cursos e Eventos
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#terapias') Terapias
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#contato') Contato

        // Page Content
        .container-fluid.p-0

            // Sobre
            section#sobre.resume-section
                .resume-section-content
                    h1.mb-0
                        span.text-primary Espaço Mahna
                    h2 Yoga e Terapias
                    p.lead.mb-5
                        | O Espaço Mahna é um espaço de yoga, terapias e bem-estar localizado em dois endereços, um em São Caetano do Sul, e outro na Mooca; refúgios acolhedores, cheios de amor para fazer com que você possa ter momentos de tranquilidade e renovação. Idealizados por Ana Paula Todisco e Deborah Agostini, a partir de terem o mesmo sonho: florescer o yoga no coração de cada vez mais pessoas.
                        br
                        br
                        | Com a ajuda de outras(os) parceiras(os), o Espaço Mahna também oferece atendimentos em uma variedade de massagens e outros tratamentos de bem-estar.

            hr.m-0

            // Horários
            section#horarios.resume-section
               .resume-section-content
                    h2.mb-5 Horários

                    .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                    .resume-content
                        h3.mb-0 Aulas de Yoga - 
                            span.text-primary São Caetano do Sul - ABC

                        p Veja os nossos horários abaixo:
                        ul
                            li Segunda: 16h30, 17h50 e 19h
                            li Terça: 7h30, 12h, 17h30 e 19h30
                            li Quarta: 7h30, 9h, 14h, 17h50 e 19h
                            li Quinta: 7h30, 17h30 e 19h30
                            li Sexta: 9h

                        br

                        p Turmas em formação:
                        ul
                            li Segunda: 20h15
                            li Terça: 9h e 16h
                            li Quinta: 9h e 16h

                        p.text-primary As aulas acontecem presencialmente e on-line, simultaneamente.

                        h3
                            | Não fique triste caso esses horários não sejam adequados à sua rotina.
                            br
                            | Entre em contato com a gente para verificarmos a possibilidade de abrir uma nova turma.


            hr.m-0

            // Cursos e Eventos
            section#cursos-e-eventos.resume-section
                .resume-section-content
                    h2.mb-5 Cursos e Eventos

                    .container
                        .card.m-0.card-terapias
                            img.card-img-top(src="./assets/img/eventos/retiro-silencio.jpeg")
                            .card-body
                                h3.card-title
                                    | Retiro do Silêncio
                                p.card-text
                                    | 22 a 24 de março, em Mairinque/SP
                                a.btn.btn-secondary(target="_blank", href="https://www.instagram.com/p/C2ciNx9OUpY/")
                                    | Saiba mais
                                a.btn.btn-primary(target="_blank", href="https://api.whatsapp.com/send?phone=5511930319130&text=Ol%C3%A1!%20Gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20o%20Retiro%20do%20Sil%C3%AAncio.")
                                    | Inscreva-se

            hr.m-0

            // Terapias
            section#terapias.resume-section
                .resume-section-content
                    h2.mb-5 Terapias
                        .subheading.mb-3
                            | Saiba mais clicando nos itens abaixo
                    
                    ul.fa-ul.mb-0ul
                        li.openModal(data-slug="acupuntura", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Acupuntura
                        li.openModal(data-slug="auriculoterapia", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Auriculoterapia
                        li.openModal(data-slug="barras-de-access", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Barras de Access
                        li.openModal(data-slug="drenagem-linfatica", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Drenagem Linfática
                        li.openModal(data-slug="florais-de-bach", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Florais de Bach
                        li.openModal(data-slug="massagem-ayurvedica", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Massagem Ayurvédica
                        li.openModal(data-slug="massagem-lomi-lomi", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Massagem Lomi-Lomi
                        li.openModal(data-slug="massagem-modeladora", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Massagem Modeladora
                        li.openModal(data-slug="massagem-relaxante", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Massagem Relaxante
                        li.openModal(data-slug="moxaterapia", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Moxaterapia
                        li.openModal(data-slug="reflexologia", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Reflexologia
                        li.openModal(data-slug="reiki", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Reiki
                        li.openModal(data-slug="shiatsu", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Shiatsu
                        li.openModal(data-slug="thai-massagem", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Thai Massagem
                        li.openModal(data-slug="thetahealing", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | ThetaHealing
                        li.openModal(data-slug="ventosaterapia", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Ventosaterapia

                    // Modal
                    .modal.fade#modal(tabindex="-1", role="dialog", aria-labelledby="modalLabel", aria-hidden="true")
                        .modal-dialog(role="document")
                            .modal-content
                                .modal-header
                                    h5#modalLabel.modal-title Título
                                    i.fas.fa-close.close(data-dismiss="modal", style="cursor: pointer")
                                .modal-body
                                    img#modalImage.img-fluid.mb-3(title="", alt="", src="./assets/img/terapias/acupuntura.jpg")
                                    p#modalDescription Descrição


            hr.m-0

            // Contato
            section#contato.resume-section
                .resume-section-content
                    h2.mb-5 Contato

                    div.subheading.my-5
                        span.text-primary Espaço Mahna ABC
                        | - Rua Território do Acre, 13 - Olímpico - São Caetano do Sul - SP

                    p.lead.mb-5
                        | Conheça o nosso local de prática e a nossas redes sociais:

                    .social-icons
                        a.social-icon(href="https://www.facebook.com/espacomahnascs/" target="_blank")
                            i.fab.fa-facebook-f
                        a.social-icon(href="https://www.instagram.com/mahnayoga_scs/" target="_blank")
                            i.fab.fa-instagram
                        a.social-icon(href="https://g.page/espacomahnaabc" target="_blank")
                            i.fas.fa-map-marker-alt
                        a.social-icon(href="mailto:espacomahna@gmail.com" target="_blank")
                            i.fas.fa-envelope
                        a.social-icon(href="http://bit.ly/3ai4Gdk" target="_blank")
                            i.fab.fa-whatsapp
                        a.social-icon(href="https://bit.ly/youtubeespacomahna" target="_blank")
                            i.fab.fa-youtube

        // Bootstrap core JS
        script(src='./js/bootstrap.bundle.min.js')

        // jQuery & Popper
        script(src="./js/jquery-3.3.1.slim.min.js", crossorigin="anonymous")
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin="anonymous")

        // Core theme JS
        script(src='./js/scripts.js')