doctype html
html(lang='pt-BR')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Espaço Mahna Yoga e Terapias')
        meta(name='author', content='Ana Paula Todisco')

        title Espaço Mahna - Yoga e Terapias

        link(rel='icon', type='image/x-icon', href='assets/img/mahna-scs-favicon.png')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Clarence Taylor
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/mahna-scs-logo.png', alt='Espaço Mahna - São Caetano do Sul')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Trocar navegação')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#sobre') Sobre
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#horarios') Horários
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#cursos-e-eventos') Cursos e Eventos
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#terapias') Terapias
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#contatos') Contatos
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#videos') Vídeos

        // Page Content
        .container-fluid.p-0

            // Sobre
            section#sobre.resume-section
                .resume-section-content
                    h1.mb-0
                        span.text-primary Espaço Mahna
                    h2 Yoga e Terapias
                    p.lead.mb-5
                        | O Espaço Mahna é um espaço de yoga, terapias e bem-estar localizado em dois endereços, um em São Caetano do Sul, e outro na Mooca; refúgios acolhedores, cheios de amor para fazer com que você possa ter momentos de tranquilidade e renovação. Idealizados por Ana Paula Todisco e Deborah Agostini, a partir de terem o mesmo sonho: florescer o yoga no coração de cada vez mais pessoas.
                        br
                        br
                        | Com a ajuda de outras(os) parceiras(os), o Espaço Mahna também oferece atendimentos em uma variedade de massagens e outros tratamentos de bem-estar.

            hr.m-0

            // Horários
            section#horarios.resume-section
               .resume-section-content
                    h2.mb-5 Horários

                    .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                    .resume-content
                        h3.mb-0 Aulas de Yoga - 
                            span.text-primary São Caetano do Sul - ABC

                        p Veja os nossos horários abaixo:
                        ul
                            li Segunda: 16h, 17h50 e 19h
                            li Terça: 7h30, 9h e 19h30
                            li Quarta: 9h, 13h50, 15h10, 17h50 e 19h
                            li Quinta: 7h30, 9h e 19h30
                            li Sexta: 7h e 9h

                        p.text-primary As aulas acontecem presencialmente e on-line, simultaneamente.

                        h3
                            | Não fique triste caso se um desses horários não se encaixa na sua agenda.
                            br
                            | Oferecemos vídeo aulas para adaptar a prática ao seus horários, fale com a gente!


            hr.m-0

            // Cursos e Eventos
            section#cursos-e-eventos.resume-section
                .resume-section-content
                    h2.mb-5 Cursos e Eventos

                    .container
                        .card.m-2(style="width: 16rem")
                            img.card-img-top(src="http://www.espacomahna.com.br/img/img_insta_pqn.jpg")
                            .card-body
                                p.card-text
                                    | Estamos preparando encontros bem acolhedores. Acompanhe por aqui ou em nosso Instagram
                                a.btn.btn-primary(target="_blank", href="https://www.instagram.com/espacomahna_abc/")
                                    | Clique Aqui

            hr.m-0

            // Terapias
            section#terapias.resume-section
                .resume-section-content
                    h2.mb-5 Terapias
                        .subheading.mb-3
                            | Saiba mais clicando nos itens abaixo
                    
                    ul.fa-ul.mb-0ul
                        li.openModal(data-slug="acupuntura", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Acupuntura
                        li.openModal(data-slug="auriculoterapia", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Auriculoterapia
                        li.openModal(data-slug="barras-de-access", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Barras de Access
                        li.openModal(data-slug="drenagem-linfatica", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Drenagem linfática
                        li.openModal(data-slug="florais-de-bach", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Florais de Bach
                        li.openModal(data-slug="massagem-ayurvedica", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Massagem ayurvédica
                        li.openModal(data-slug="massagem-lomi-lomi", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Massagem Lomi-Lomi
                        li.openModal(data-slug="massagem-modeladora", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Massagem modeladora
                        li.openModal(data-slug="massagem-relaxante", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Massagem relaxante
                        li.openModal(data-slug="moxaterapia", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Moxaterapia
                        li.openModal(data-slug="reflexologia", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Reflexologia
                        li.openModal(data-slug="reiki", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Reiki
                        li.openModal(data-slug="shiatsu", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Shiatsu
                        li.openModal(data-slug="shiatsu-facial", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Shiatsu Facial
                        li.openModal(data-slug="thai-massagem", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Thai Massagem
                        li.openModal(data-slug="thetahealing", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | ThetaHealing
                        li.openModal(data-slug="ventosaterapia", data-toggle="modal", data-target="#modal")
                            span.fa-li
                                i.fas.fa-check
                            | Ventosaterapia

                    // Modal
                    .modal.fade#modal(tabindex="-1", role="dialog", aria-labelledby="modalLabel", aria-hidden="true")
                        .modal-dialog(role="document")
                            .modal-content
                                .modal-header
                                    h5#modalLabel.modal-title Título
                                    i.fas.fa-close.close(data-dismiss="modal", style="cursor: pointer")
                                .modal-body
                                    p#modalDescription Descrição


            hr.m-0

            // Contatos
            section#contatos.resume-section
                .resume-section-content
                    h2.mb-5 Contatos

                    div.subheading.my-5
                        span.text-primary Espaço Mahna ABC
                        | - Rua Território do Acre, 13 - Olímpico - São Caetano do Sul - SP

                    p.lead.mb-5
                        | Conheça o nosso local de prática e a nossas redes sociais

                    .social-icons
                        a.social-icon(href="https://www.facebook.com/espacomahnascs/" target="_blank")
                            i.fab.fa-facebook-f
                        a.social-icon(href="https://www.instagram.com/espacomahna_abc/" target="_blank")
                            i.fab.fa-instagram
                        a.social-icon(href="https://g.page/espacomahnaabc" target="_blank")
                            i.fas.fa-map-marker-alt
                        a.social-icon(href="mailto:espacomahna@gmail.com" target="_blank")
                            i.fas.fa-envelope
                        a.social-icon(href="http://bit.ly/3ai4Gdk" target="_blank")
                            i.fab.fa-whatsapp
                        a.social-icon(href="https://t.me/espacomahna" target="_blank")
                            i.fab.fa-telegram
                        a.social-icon(href="https://bit.ly/youtubeespacomahna" target="_blank")
                            i.fab.fa-youtube

            hr.m-0

            // Vídeos
            section#videos.resume-section
                .resume-section-content
                    h2.mb-5 Vídeos

                    div.row                    
                        iframe(style="margin-left:15px;" width="560" height="315" src="https://www.youtube.com/embed/_okJ04cKP60" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // jQuery & Popper
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin="anonymous")

        // Core theme JS
        script(src='js/scripts.js')
