// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$light-gray: #E7E7E7;
$dark-gray: #4B4B4B;
$green: #565232;
$salmon: #cca68b;

// Override Bootstrap default state colors

$primary: $salmon;
